<h1>Edit This Menu</h1>

<%= render "form", menu: @menu %>

<br>
  
<div class="col-sm-2 col-form-label">
  <%= link_to "Show", @menu, class:'btn btn-primary'  %> |
  <%= link_to "Back", menus_path, class:'btn btn-primary'  %>
</div>
